---
const { pictureTitle } = Astro.props;
const photos = Array.from({ length: 12 }, () => ({
  src: 'https://firebasestorage.googleapis.com/v0/b/astro-blog-dad91.appspot.com/o/astro-blog-image%2Ffirst.jpg?alt=media&token=f9a56102-fd2c-4701-9209-2a6cfbeaff31',
  alt: 'Slide 1',
}));
---

<div class="flex flex-col gap-4 w-full">
	<h3 id="pictureTitle" class="w-full text-center md:text-left">{pictureTitle}</h3>
	<div class="grid [grid-template-columns:repeat(auto-fit,minmax(140px,1fr))] gap-4 w-full pb-5">
		{photos.map((photo) => (
			<img class="w-full aspect-square object-cover transition duration-500 grayscale hover:grayscale-0" src={photo.src} alt={photo.alt} loading="lazy" />
		))}
	</div>
</div>
